@charset "utf-8";
/* CSS Document */
body,ul,h2,h3,h4,form,input,textarea,select{padding:0;margin:0;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
a:focus {  outline:none;   -moz-outline:none;}
*:focus { outline: none; }
@font-face{
	font-family:"HYZHONGXIUTIJ";
	src:url("../font/HYZHONGXIUTIJ.TTF");
}
html{
	width: 100%;
    height: 100%;
}

body{
	width: 100%;
	height: 100%;
	position: relative;
	background-image:url("../imgs/bg.jpg");
	background-size:100% 100% ;
}
.container{
	width:900px;
	height:570px;
	position: absolute;
	top:50%;
	margin-top: -285px;
	left: 4%;
	
}
.container:focus{
	border:none;
    outline:none;
}

.Back{
	position: absolute;
	right:4px;
	bottom: 20px;
	display: block;
	width:120px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color:#236194;
	color: aliceblue;
	
}
.Back:hover{
	background-color:#236194;
	color: aliceblue;
	text-decoration:none;
}
